@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Azure Media Services Demo Application</h1>
    <p class="lead">This is a demo application to display how you can integrate a Video in your CMS/website from Azure Media Services. Blabla Authentifizierungsquatsch. </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hier Video1 einbetten:</h2>
        <p>
            Hier sollte dann ein Link zum ersten Video sein (MITARBEITER).
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hier Video2 einbetten:</h2>
        <p>Hier sollte ein Link zum zweiten Video sein (VORSTAND).</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>